* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./assets/bg.jpg) center center fixed;
  background-size: cover;
}
.container {
  /* border: 1px solid red; */
  margin: 9% auto;
  width: 35%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(136, 137, 138, 0.815);
  border-radius: 20px;
  border: none;
  box-shadow: 0 0 10px rgba(245, 245, 234, 0.733);
}
h1 {
  color: rgb(43, 43, 43);
  margin: 18px auto;
  cursor: pointer;
}
p {
  font-size:22px;
  padding: 9px 10px;
  /* border: 1px solid black; */
  height: 96px;
}

.circle {
  border-top: 1px solid black;
  padding-top: 4px;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 8px;
  gap: 5px;
}

#question_mark {
  border: 1px solid black;
  border-radius: 100px;
  width: 18px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(207, 205, 205);
  cursor: pointer;
}

.hint {
  display: none;
}

.box {
  margin: 20px;

  width: 100%;
}

#generate {
  margin-left: 10px;
  height: 40px;
  width: 110px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  background: rgb(121, 219, 28);
  cursor: pointer;
  box-shadow: 0 0 2px rgba(214, 199, 30, 0.733);
  transition: 0.4s;
}
#generate:hover {
  transform: scale(90%);
}
